---
layout: default
title: Contact
---

<div id="content" class="txt-middle">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <h2>Email</h2>
        <a href="mailto:contact@gitlab.com"> contact@gitlab.com</a>
        <br />
        If you are a subscriber please use the support email address you were given.
        If you are a standard or plus subscriber and need emergency support please use the dedicated email address for this.
      </div>
      <div class="col-sm-4 col-md-4">
        <h2>Twitter</h2>
        <a href="https://twitter.com/gitlabhq">@gitlabhq</a>
        <br /><br />
        <a href="https://twitter.com/gitlabhq" class="twitter-follow-button" data-show-count="false">Follow @gitlabhq</a>
        <br />
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        Follow us on twitter for the most detailed and up to date information about GitLab.
      </div>
      <div class="col-sm-4 col-md-4">
        <h2>Newsletter</h2>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" class="newsletter-form">
          <form action="https://gitlab.us5.list-manage.com/subscribe/post?u=498dccd07cf3e9482bee33ba4&amp;id=98a9a4992c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <div class="mc-field-group">
              <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your email address">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div> 
            </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary form-control"></div>
          </form>
        </div>
        <!--End mc_embed_signup-->
        <p>If you subscribe, you get emails about monthly and security releases and major news.</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <h2>Address</h2>
        GitLab B.V.<br>Ondiep 108<br>3552EK Utrecht<br>The Netherlands
      </div>
      <div class="col-sm-4 col-md-4">
        <h2>Security</h2>
        If you want to test the security of GitLab or if you think you have found a problem please see our <a href="/disclosure/">Responsible Disclosure Policy</a>.
      </div>
      <div class="col-sm-4 col-md-4">
        <h2>Website</h2>
        This website is created from a public repository. If you see a potential improvement please <a href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING">contribute to this website</a>.
      </div>
    </div>
  </div>
</div>
