---
layout: default
title: Subscription
---
<div id="content">
  <div class="container">     
    <div class="row">           
      <div class="col-sm-12 col-md-12">
        <div class="product-plan">
          <ul class="plans list-unstyled">
            <table class="table">
                <thead>
                  <tr>
                    <th>Subscription</th>
                    <th>Basic</th>
                    <th>Standard</th>
                    <th>Plus</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><div title="A user is defined as an individual authorized by you to use an on-premise GitLab server."><i class="glyphicons-usd"></i>&nbsp;Price per user per year</div></td>
                    <td>$19.90</td>
                    <td>$49.00</td>
                    <td>$249.00</td>
                  </tr>
                  <tr>
                    <td><div title="Subscriptions are available per pack of 20 users for the basic subscription and per pack of 100 users for the standard and plus subscription."><i class="glyphicons-parents"></i>&nbsp;User packs are available in multiples of</div></td>
                    <td>20</td>
                    <td>100</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td><div title="Ubuntu, Debian, CentOS and RHEL"><i class="glyphicons-display"></i>&nbsp;Support for major Linux operating systems</div></td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="If you are not happy for whatever reason you will get your money back."><i class="glyphicons-new_window"></i>&nbsp;45 day money back guarantee</div></td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="Only subscribers are allowed to use Enterprise Edition. You will get access to the source code, modifications are permitted and you get access to all updates."><i class="glyphicons-group"></i>&nbsp;Use <a href="/gitlab-ee/">GitLab Enterprise Edition</a> and its updates</div><span class="pull-right"></span></td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="In case of a standard subscription this response time is for all non-critical incidents."><i class="glyphicons-clock"></i>&nbsp;Next business day support</div><span class="pull-right">
                    </span></td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="Taking care of critical availability incidents, we aim for a 30 minute response time."><i class="glyphicons-life_preserver"></i>&nbsp;24/7 emergency support</div><span class="pull-right"></span></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="We help you in a call with the installation, configuring backups and integrating with your email, LDAP and CI servers (e.g. Jenkins)."><i class="glyphicons-settings"></i>&nbsp;Live installation and configuration assistance</div><span class="pull-right"></span></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="Our engineer will do upgrades together with you if you request it." <i="" class="glyphicons-upload">&nbsp;Live upgrade assistance</div><span class="pull-right"></span></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="Advise to set up a highly available cluster."><i class="glyphicons-roundabout"></i>&nbsp;High Availability configuration </div><span class="pull-right"></span></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="Support for GitLab CI installations, using it is free since it is completely open source."><i class="glyphicons-umbrella"></i>&nbsp;GitLab CI support (use is free)</div><span class="pull-right"></span></td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="As many training sessions for Git concepts and GitLab best practices as you need."><i class="glyphicons-briefcase"></i>&nbsp;Best practices training</div><span class="pull-right"></span></td>
                    <td style="color:red">✕</td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                  <tr>
                    <td><div title="If there are features you would like to see that we both think belong in GitLab we'll prioritize them."><i class="glyphicons-airplane"></i>&nbsp;Prioritize features important to you</div><span class="pull-right"></span></td>
                    <td style="color:red">✕</td>
                    <td style="color:red">✕</td>
                    <td style="color:green">✓</td>
                  </tr>
                </tbody>
            </table>
            <div id="order_or_get_a_quote" class="action">
              <p>
              <a href="/subscription/basic" class="btn-action btn btn-primary">Basic</a>
              <a href="/subscription/standard" class="btn-action btn btn-primary">Standard</a>
              <a href="/subscription/plus" class="btn-action btn btn-primary">Plus</a>
              </p>

              <p>
              Use the above buttons for creditcard orders.<br />
              If you want to pay by <b>bank transfer</b> please first request a quotation below.<br />
              &nbsp;<br />
              <a href="form.html" class="btn-action btn btn-primary">Request a quotation</a>
              &nbsp;<br />
              </p>

              <p>
                Students of <a href="https://en.wikipedia.org/wiki/Types_of_educational_institutions">educational institutions</a> do not count towards the user count. The staff, researchers and post-docs do count towards the user count.
              </p>

              <p>
              If you have any questions please <a href="mailto:sales@gitlab.com">email us</a>.
              </p>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
