<div id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <h3>Products</h3>
        <ul class="animated">
          <li><a href="/gitlab-ce/">Community Edition</a></li>
          <li><a href="/gitlab-ee/">Enterprise Edition</a></li>
          <li><a href="/gitlab-ci/">Continuous Integration</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-md-3">
        <h3>Services</h3>
        <ul class="animated">
          <li><a href="/subscription/">Subscription</a></li>
          <li><a href="/consultancy/">Consultancy</a></li>
          <li><a href="/training/">Training</a></li>
          <li><a href="/gitlab-com/">GitLab.com</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-md-3">
        <h3>Company</h3>
        <ul class="animated">
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/press/">Press</a></li>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/team/">Team</a></li>
          <li><a href="/jobs/">Jobs</a></li>
          <li><a href="/terms/">Terms</a></li>
          <li><a href="/contact/">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-md-3">
        <h3>Community</h3>
        <ul class="animated">
          <li><a href="/core-team/">Core Team</a></li>
          <li><a href="/documentation/">Documentation</a></li>
          <li><a href="/getting-help/">Getting Help</a></li>
          <li><a href="/contributing/">Contributing</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
